
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background-color: #efefef; /*gray13*/
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
@media screen and (max-width: 1600px) {
  body {
    zoom: 0.9;
    width: calc(100vw / 0.9);
    height: calc(100vh / 0.9);
  }
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
